.dialogs{
    display: flex;
}
.messageWrapper{
    flex: 1 1 auto;
    margin: 0 0 0 10px;
}
.message, .dialogsUser{
    padding: 10px;
    margin: 10px 0;

}
.dialogsUser{
    background-color: lightslategray;
}
.message{
    background-color:bisque;
}
.dialogsWrapper{
    flex: 0 0 20%;
    margin: -10px 0;
}
.dialogsUser > a{
    color: #fff;
    font-weight: bold;
}